---
import { getCollection } from "astro:content";
import Main from "@/layouts/Main.astro";
import Layout from "@/layouts/Layout.astro";
import Tag from "@/components/Tag.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import getUniqueTags from "@/utils/getUniqueTags";
import { SITE } from "@/config";

const posts = await getCollection("blog");

const tags = getUniqueTags(posts);
const tagVariants = ["default", "yellow", "green"] as const;
---

<Layout title={`Tags | ${SITE.title}`}>
  <Header />
  <Main
    pageTitle="Tags"
    pageDesc="All the tags used in notes."
    linkHref="/posts"
    linkLabel="All notes →"
  >
    <div class="flex flex-wrap gap-2">
      {
        tags.map(({ tag, tagName }, i) => (
          <Tag tag={tag} tagName={tagName} variant={tagVariants[i % 3]} />
        ))
      }
    </div>
  </Main>
  <Footer />
</Layout>
